<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Story</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styleMutual.css') }}"> 

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap"
  rel="stylesheet">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="carousel">
    <div class="carousel-inner">
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item ">
            <img src="http://fakeimg.pl/2000x800/0079D8/fff/?text=The Mutual Fund Marvel" alt="Without">
            <p>Imagine a team of investment superheroes coming together! Mutual funds are like a power-packed squad of investors. You join forces with others, pooling your money to create a financial force to be reckoned with.
            </p>
        </div>
        
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/DA5930/fff/?text=Picking Your Power" alt="Without">
            <p>Just like superheroes have their own unique abilities, mutual funds come in different flavors. Want the adrenaline rush of stocks? Choose equity funds. Looking for stability like a rock? Bond funds are your choice. Mix and match for the ultimate combo with balanced funds!
            </p>
        </div>
        
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/0079D8/fff/?text=Risk and Adventure" alt="Without">
            <p>Every hero knows the thrill of taking calculated risks. With mutual funds, you decide your adventure level. High risk, high reward like a daring escape? Or a more steady journey like a scenic drive? Your call!
            </p>
        </div>
        
        <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/DA5930/fff/?text=Unveiling the Secrets" alt="Without">
            <p>Every hero has an origin story, and so does each mutual fund. The prospectus is your backstage pass. It reveals the fund's goals, strategies, and past performances. It's like reading a thrilling novel about your future wealth.</p>
            
        </div>
        <input class="carousel-open" type="radio" id="carousel-5" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/0079D8/fff/?text=The Ever-Changing Adventure" alt="Without">
            <p>Heroes embrace change, and so should your investment strategy. As life evolves, tweak your portfolio like a hero upgrading their gear. Stay flexible and keep your financial journey epic!</p>
            
        </div>
        <input class="carousel-open" type="radio" id="carousel-6" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/DA5930/fff/?text=The Grand Investment" alt="Without">
            <p>It's time to join the league of investors! Picture yourself suiting up and investing your hard-earned money in the chosen mutual fund. Bam! You're now officially a financial hero.
            </p>
            
        </div>    
        <input class="carousel-open" type="radio" id="carousel-7" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/0079D8/fff/?text=The Quest for Growth" alt="Without">
            <p>Just like heroes face challenges, your mutual fund journey needs attention. Keep an eye on how your fund performs. It's like tracking your progress on a treasure map – you'll be celebrating victories and adapting to surprises.</p>
            
        </div>    
        <input class="carousel-open" type="radio" id="carousel-8" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/DA5930/fff/?text=The Cost Crusade" alt="Without">
            <p>Even heroes have bills to pay! Every mutual fund has its expenses, just like maintaining a superhero lair. Be sure to know the costs and keep your financial fortress strong.</p>
            
        </div>  
        <input class="carousel-open" type="radio" id="carousel-9" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/0079D8/fff/?text=Compounding Magic" alt="Without">
            <p>Remember how heroes level up? They accumulate experience over time. Your mutual fund can work like that too. Reinvesting dividends and gains is like unlocking new powers for your money to grow.
            </p>
            
        </div>    
        <input class="carousel-open" type="radio" id="carousel-10" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/DA5930/fff/?text=Tax Tacticians" alt="Without">
            <p>Heroes know the importance of planning. Similarly, be prepared for taxes when your fund buys or sells. Some funds have smart strategies to keep taxes in check – a superhero move for your wallet.
            </p>
            
        </div>
        <label for="carousel-1" class="carousel-control next control-10">›</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>
        <label for="carousel-3" class="carousel-control next control-2">›</label>
        <label for="carousel-4" class="carousel-control next control-3">›</label>
        <label for="carousel-5" class="carousel-control next control-4">›</label>
        <label for="carousel-6" class="carousel-control next control-5">›</label>
        <label for="carousel-7" class="carousel-control next control-6">›</label>
        <label for="carousel-8" class="carousel-control next control-7">›</label>
        <label for="carousel-9" class="carousel-control next control-8">›</label>
        <label for="carousel-10" class="carousel-control next control-9">›</label>
        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
        <label for="carousel-3" class="carousel-control prev control-4">‹</label>
        <label for="carousel-4" class="carousel-control prev control-5">‹</label>
        <label for="carousel-5" class="carousel-control prev control-6">‹</label>
        <label for="carousel-6" class="carousel-control prev control-7">‹</label>
        <label for="carousel-7" class="carousel-control prev control-8">‹</label>
        <label for="carousel-8" class="carousel-control prev control-9">‹</label>
        <label for="carousel-9" class="carousel-control prev control-10">‹</label>
        <label for="carousel-10" class="carousel-control prev control-1">‹</label>
        <ol class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-4" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-5" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-6" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-7" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-8" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-9" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-10" class="carousel-bullet">•</label>
            </li>
        </ol>
    </div>
</div>

<!-- partial -->
  
</body>
</html>
