<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Pure css carousel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='sipstyle.css') }}"> 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap"
  rel="stylesheet">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="carousel">
    <div class="carousel-inner">
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item ">
            <img src="http://fakeimg.pl/2000x800/0079D8/fff/?text=The Coin Cascade" alt="Without">
            <p>Once upon a modern city skyline, lived Sarah – an imaginative dreamer with big plans and a not-so-big piggy bank.
            </p>
        </div>
        
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/DA5930/fff/?text=Sparks of Aspiration" alt="Without">
            <p>Sarah dreamed of traveling the world, creating art, and retiring with a garden full of sunflowers.
            </p>
        </div>
        
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/0079D8/fff/?text=Whispers of Wisdom" alt="Without">
            <p>One day, her wise friend Emily shared a secret. "Ever heard of SIP? It's like planting coins that grow into trees of cash."</p>

        </div>
        
        <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/DA5930/fff/?text=The Coin Planting Ritual" alt="Without">
            <p>Intrigued, Sarah met the SIP Sensei. He told her, "Plant a handful of coins into an investment garden every month.</p>

        </div>
        <input class="carousel-open" type="radio" id="carousel-5" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/0079D8/fff/?text=The Growth Spell" alt="Without">
            <p>The Sensei revealed the magic – consistency. Sarah would buy more investment saplings when prices were low and fewer when they were high.</p>

        </div>
        <input class="carousel-open" type="radio" id="carousel-6" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/DA5930/fff/?text=The Multiplying Orchard" alt="Without">
            <p> "Imagine a tree growing more trees," the Sensei grinned. Sarah's investments would grow, bringing her closer to her dreams.
            </p>

        </div>    
        <input class="carousel-open" type="radio" id="carousel-7" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/0079D8/fff/?text=Time's Alchemy" alt="Without">
            <p>With her newfound SIP powers, Sarah started planting coins into her investment garden. She marveled as her coins danced into investments.</p>

        </div>    
        <input class="carousel-open" type="radio" id="carousel-8" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/DA5930/fff/?text=Art of Compounding" alt="Without">
            <p> As her investment trees grew, they bore fruit – earnings. These earnings then reinvested, creating an enchanted cycle of growth.
            </p>

        </div>  
        <input class="carousel-open" type="radio" id="carousel-9" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/0079D8/fff/?text=Dream Weaving" alt="Without">
            <p>With each coin she planted, Sarah's dreams became clearer. She painted, she traveled, and she tended her sunflowers.</p>

        </div>    
        <input class="carousel-open" type="radio" id="carousel-10" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/DA5930/fff/?text=Reality Blossoms" alt="Without">
            <p>Years passed, and Sarah's investment orchard flourished. Her dreams turned real, thanks to the steady, enchanting power of SIP.</p>
        </div>
        <input class="carousel-open" type="radio" id="carousel-11" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/0079D8/fff/?text=The Ripple Effect" alt="Without">
            <p>Sarah's tale spread like wildfire. Friends, family, and even strangers joined the SIP movement, planting coins to nurture their own dreams.</p>
        </div>

        <label for="carousel-1" class="carousel-control next control-11">›</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>
        <label for="carousel-3" class="carousel-control next control-2">›</label>
        <label for="carousel-4" class="carousel-control next control-3">›</label>
        <label for="carousel-5" class="carousel-control next control-4">›</label>
        <label for="carousel-6" class="carousel-control next control-5">›</label>
        <label for="carousel-7" class="carousel-control next control-6">›</label>
        <label for="carousel-8" class="carousel-control next control-7">›</label>
        <label for="carousel-9" class="carousel-control next control-8">›</label>
        <label for="carousel-10" class="carousel-control next control-9">›</label>
        <label for="carousel-11" class="carousel-control next control-10">›</label>
        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
        <label for="carousel-3" class="carousel-control prev control-4">‹</label>
        <label for="carousel-4" class="carousel-control prev control-5">‹</label>
        <label for="carousel-5" class="carousel-control prev control-6">‹</label>
        <label for="carousel-6" class="carousel-control prev control-7">‹</label>
        <label for="carousel-7" class="carousel-control prev control-8">‹</label>
        <label for="carousel-8" class="carousel-control prev control-9">‹</label>
        <label for="carousel-9" class="carousel-control prev control-10">‹</label>
        <label for="carousel-10" class="carousel-control prev control-11">‹</label>
        <label for="carousel-11" class="carousel-control prev control-1">‹</label>
        <ol class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-4" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-5" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-6" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-7" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-8" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-9" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-10" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-11" class="carousel-bullet">•</label>
            </li>
        </ol>
    </div>
</div>

<!-- partial -->
  
</body>
</html>
